@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Funnel+Display:wght@300..800&family=Homemade+Apple&display=swap');

:root {

/* ======================
   FONTS
====================== */

--font-body: "Funnel Display", sans-serif;
--font-heading: "Cantata One", serif;
--font-subheading: "Homemade Apple", cursive;


/* ======================
   TYPOGRAPHY
====================== */

--text-h1: 2.25rem;
--text-h2: 1.75rem;
--text-h3: 1.35rem;
--text-h4: 1.1rem;
--text-body: 1rem;
--text-small: 0.85rem;

--leading-h1: 2.8rem;
--leading-h2: 2.3rem;
--leading-h3: 1.9rem;
--leading-h4: 1.6rem;
--leading-body: 1.6rem;

--tracking-tight: -0.02em;
--tracking-heading: -0.01em;


/* ======================
   COLOR SYSTEM
====================== */

/* Background layers */

--color-bg: oklch(71.4% 0.014 41.2);
--color-surface: oklch(98.6% 0.002 67.8);
--color-surface-muted: oklch(92.2% 0.005 34.3);

/* Main UI */

--color-primary: oklch(56% 0.021 213.5);
--color-accent: oklch(58% 0.031 107.3);

/* Text */

--color-text: oklch(14.7% 0.004 49.3);
--color-text-muted: oklch(36.7% 0.016 35.7);


/* ======================
   STATUS COLORS
====================== */

--color-success: oklch(52.7% 0.154 150.069);
--color-warning: oklch(55.4% 0.135 66.442);
--color-error: oklch(50.5% 0.213 27.518);
--color-info: oklch(50% 0.134 242.749);

/* Toast background */

--toast-success-bg: oklch(92.5% 0.084 155.995);
--toast-warning-bg: oklch(94.5% 0.129 101.54);
--toast-error-bg: oklch(88.5% 0.062 18.334);
--toast-info-bg: oklch(90.1% 0.058 230.902);

}

[data-theme="dark"] {

--color-bg: oklch(14.8% 0.004 228.8);
--color-surface: oklch(27.5% 0.011 216.9);
--color-surface-muted: oklch(37.8% 0.015 216);

--color-primary: oklch(69.6% 0.17 162.48);
--color-accent: oklch(70.4% 0.14 182.503);

--color-text: oklch(98.7% 0.002 197.1);
--color-text-muted: oklch(92.5% 0.005 214.3);

}